<h1>Leaderboard for <%= @sport.name %></h1>

<table class="table table-striped">
	<thead>
		<th>Rank</th>
		<th>Name</th>
		<th>Played</th>
		<th class="wins">Wins</th>
		<th class="losses">Losses</th>
		<th class="percentage">%</th>
		<th>Streak</th>
	</thead>
	<tbody>
		<% @leaders.each do |leader| %>
		<tr>
			<td><%= leader.value %></td>
			<td><%= link_to leader.name, leader %></td>
			<td><%= leader.games.length %></td>
			<td class="wins"><%= leader.wins.length %></td>
			<td class="losses"><%= leader.losses.length %></td>
			<td class="percentage"><%= leader.percentage %></td>
			<td><%= leader.streak %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<a href="#new_game_modal" class="btn btn-primary" data-toggle="modal">New Game</a>
<%= link_to "New Player", new_player_path, :class => "btn btn-primary" %>