<p id="notice"><%= notice %></p>

<p>
  <b>Winner:</b>
  <%= @game.winner.name %>
</p>

<p>
  <b>Loser:</b>
  <%= @game.loser.name %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
