<h1>Listing players</h1>

<table id="players" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Wins</th>
      <th>Losses</th>
      <th><a href='#' onclick='$("td.bunny").text(prompt("Bunny gag?")); return false;'><%= image_tag 'bunny.png' %></a></th>
    </tr>

  </thead>
  <tbody>
  <% @players.each do |player| %>
    <tr>
      <td><%= link_to player.name, player %></td>
      <td><%= player.wins.length %></td>
      <td><%= player.losses.length %></td>
      <td class='bunny'><%= bunnies(player) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Player', new_player_path, :class => "btn btn-primary" %>
